nav {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 1rem;
    overflow: hidden;
}

nav p {
    /* display: inline-block; */
    padding: 0.5rem 1rem;
    margin: 0;
    color: white;
    cursor: pointer;
    
}